/** @format */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

:root {
  --color-one: #b22234;
  /* --color-one: #d1b000 */
  --color-two: #0c2641;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 1.45em;
  margin-bottom: 0.35rem;
  padding: 10px 15px;
  text-align: center;
}

h1:not(.company-name) {
  margin-bottom: 1rem;
}

.content {
  scroll-margin-top: 20px;
}

.content:last-of-type {
  margin-bottom: 2rem;
}

.content:nth-of-type(odd) {
  background-color: var(--color-one);
  color: rgba(255, 255, 255, 0.85);
}

.content:nth-of-type(even) {
  background-color: var(--color-two);
  color: rgba(255, 255, 255, 0.85);
}

.text {
  padding: 15px;
  text-indent: 50px;
}
